@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Saira+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
* {
  margin: 0; }

body {
  color: #ffffff; }

main div .elmejor h2 {
  font-family: Helvetica; }

main div .titulo {
  color: white;
  text-decoration: none;
  font-size: 2em; }

* {
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-image: url(../assets/Img/ImagenDeFondo.webp);
  background-color: #ffffff;
  color: #ffffff;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Encode Sans; }
  body main div h2 {
    font-family: 'Marko One', serif; }

.fondoInicio {
  background-image: url(../assets/imagenFondoInicio.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#header {
  display: flex; }
  #header ul li {
    -webkit-animation: bounce-in-top 2s both;
    animation: bounce-in-top 2s both; }

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

header {
  height: 10vh; }
  header div nav img {
    height: 65px;
    width: 80px;
    border-radius: 20%;
    margin-left: 15px; }
  header .navbar {
    background-color: #06396d !important; }
  header div ul li a {
    color: #fafafa !important;
    font-weight: bold !important; }

main {
  flex: 1; }
  main div .pueblos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 20px;
    padding-top: 76px;
    text-align: center;
    box-sizing: content-box; }
  main div h5 {
    font-family: 'Trebuchet MS'; }
  main div .pueblos img {
    max-height: 200px;
    max-width: 100%;
    object-fit: cover; }
  main p {
    text-align: center;
    padding: 20px; }
  main div .side-images {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px; }
  main div .text {
    margin: 20px;
    text-align: center;
    font-size: 1.3rem; }
  main div .side-images img {
    width: 190px;
    height: 190px;
    margin-bottom: 10px; }
  main div .elmejor {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 1rem; }
  main h3 {
    text-align: center; }
  main div p {
    text-align: center; }
  main div .winner {
    gap: 10px;
    margin-top: auto;
    align-items: center;
    max-width: 100%;
    width: 100%; }
    main div .winner img {
      width: 100%; }
  main div .populares {
    margin-top: 76px; }
  main .titulo {
    margin-top: 50px; }

.display, body, main div .side-images, main div .elmejor, .container {
  display: flex; }

.container {
  justify-content: center;
  align-items: center;
  padding: 10px; }

.pagina2 {
  padding-top: 75px; }

#footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background-color: #7bb8f1;
  margin-top: 20px;
  color: #fafafa !important;
  font-weight: bold !important; }
  #footer .iconos {
    border-radius: 50%;
    width: 30px;
    height: 30px; }

.container-footer {
  word-wrap: break-word; }

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; }
  .texto {
    font-size: 2rem;
    font-family: 'Marko One'; }
  body {
    flex-direction: column; }
  .container {
    flex-direction: column;
    align-items: center; }
  .side-images {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
  .contenedorimg {
    grid-template-columns: repeat(2, 1fr); }
  .rounded-image {
    width: 100px;
    height: 100px; }
  .mobile {
    flex-direction: column; }
  .float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s; }
  .float:hover {
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px); }
  .pagina2 div img {
    width: 100%;
    margin-bottom: 1rem; }
  main div .pueblos {
    width: 100%;
    padding: 20px;
    padding-top: 56px; }
  main div .pueblos img {
    max-height: 150px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .texto {
    font-size: 1rem;
    font-family: 'Marko One', serif;
    align-items: center; }
  .float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s; }
  .float:hover {
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px); } }
