@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Saira+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
* {
  margin: 0; }

body {
  color: #ffffff; }

main div .elmejor h2 {
  font-family: Helvetica; }

main div .tituloprincipal {
  color: white;
  text-decoration: none;
  font-size: 2em; }

* {
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-image: url(../assets/fondoweb.webp);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Encode Sans; }
  body main div h1 {
    font-family: 'Marko One'; }

.bodyBienvenida {
  height: 100vh;
  background-image: url(../assets/fondoweb.webp);
  background-size: cover;
  color: #ffffff;
  flex-direction: column;
  margin: 0;
  background-repeat: no-repeat; }

#header {
  display: flex; }
  #header ul li {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

header {
  height: 10vh; }
  header div nav img {
    height: 65px;
    width: 80px;
    border-radius: 20%;
    margin-left: 15px;
    font-size: 1rem; }
  header .navbar {
    background-color: #3573b1 !important; }
  header div ul li a {
    color: #fafafa !important;
    font-weight: bold !important; }

main {
  flex: 1; }
  main div .pueblos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 20px;
    padding-top: 76px;
    text-align: center;
    box-sizing: content-box; }
  main div h5 {
    font-family: 'Trebuchet MS'; }
  main div .pueblos img {
    max-height: 200px;
    max-width: 100%;
    object-fit: cover; }
  main p {
    text-align: center;
    padding: 20px; }
  main div .side-images {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px; }
  main div .text {
    margin: 20px;
    text-align: center;
    font-size: 1.3rem; }
  main div .side-images img {
    width: 190px;
    height: 190px;
    margin-bottom: 10px; }
  main div .elmejor {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 1rem; }
  main h3 {
    text-align: center; }
  main div p {
    text-align: center; }
  main div .winner {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    max-width: 100%;
    width: 100%; }
    main div .winner img {
      width: 100%; }
  main div .populares {
    margin-top: 76px; }
  main .tituloprincipal {
    margin-top: 50px; }
  main .titulosecundario {
    font-family: Acme !important; }
  main .Skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px; }
  main .Skills h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px; }
  main .Skills img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  main .container-fluid {
    padding: 20px; }
  main .img-home {
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  main .seccion1, main .seccion2 {
    padding: 30px;
    text-align: center; }
  main .secciones {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px; }
  main .seccion1 {
    flex: 1;
    padding: 20px;
    font-size: 1rem;
    display: inline-block;
    width: 50%;
    height: 100%; }
  main .seccion2 {
    flex: 1;
    padding: 20px;
    font-size: 1rem;
    display: inline-block;
    width: 49%;
    height: 100%; }
  main .accordion-button {
    background-color: #05698c;
    color: white; }
  main .tituloinicio {
    font-family: Vollkorn SC;
    font-size: 3em; }
  main .Skills {
    font-family: Shojumaru;
    font-size: 2em; }
  main .card {
    -webkit-animation: tilt-in-right-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: tilt-in-right-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  main .card1 {
    animation-delay: 1s; }
  main .card2 {
    animation-delay: 2s; }
  main .card3 {
    animation-delay: 3s; }

@-webkit-keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1; } }

@keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1; } }

.display, body, main div .side-images, main div .elmejor, .container {
  display: flex; }

.container {
  justify-content: center;
  align-items: center;
  padding: 10px; }

.pagina2 {
  padding-top: 75px; }

#footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background-color: #063a65;
  margin-top: 20px;
  color: #fafafa !important;
  font-weight: bold !important; }
  #footer .iconos {
    border-radius: 50%;
    width: 30px;
    height: 30px; }

.container-footer {
  word-wrap: break-word; }

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; }
  .tituloprincipal {
    font-size: 2rem;
    font-family: Acme; }
  body {
    flex-direction: column; }
  .container {
    flex-direction: column;
    align-items: center; }
  .side-images {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
  .contenedorimg {
    grid-template-columns: repeat(2, 1fr); }
  .rounded-image {
    width: 100px;
    height: 100px; }
  .mobile {
    flex-direction: column; }
  .float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s; }
  .float:hover {
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px); }
  .pagina2 div img {
    width: 100%;
    margin-bottom: 1rem; }
  main div .pueblos {
    width: 100%;
    padding: 20px;
    padding-top: 56px; }
  main div .pueblos img {
    max-height: 150px; }
  .mobile {
    align-items: end; }
  .flex-row {
    flex-direction: column !important; }
  .flex-row-reverse {
    flex-direction: column !important; }
  .seccion1 {
    flex: 1;
    padding: 20px;
    font-size: 1rem;
    height: 100%; }
  .seccion2 {
    flex: 1;
    padding: 20px;
    font-size: 1rem;
    height: 100%; }
  .Skills {
    font-size: 1.5rem !important; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tituloprincipal {
    font-size: 1rem;
    font-family: 'Rubik Dirt', cursive;
    align-items: center; }
  .float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s; }
  .float:hover {
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px); } }
