body{
    background-image: url(../assets/Img/ImagenDeFondo.webp);
    background-color: $colorDeFondoBlanco;
    color: $colorDeFondoBlanco;
    @extend .display;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}