body{
    background-image: url(../assets/Img/ImagenDeFondo.webp);
    background-color: $colorDeFondoBlanco;
    color: $colorDeFondoBlanco;
    @extend .display;
    flex-direction: column;
    //height: $alturaBody;
    margin: 0;
    font-family: Encode Sans;
    main{
        div{
            h2{
                font-family: 'Marko One', serif;
            }
        };
    }
}
.fondoInicio{
    background-image: url(../assets/imagenFondoInicio.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondoBienvenida{
    background-image: url(../assets/Img/ImagenDeFondo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}