body{
    background-image: url(../assets/Img/ImagenDeFondo.webp);
    background-color: $colorDeFondoBlanco;
    color: $colorDeFondoBlanco;
    @extend .display;
    flex-direction: column;
    height: $alturaBody;
    margin: 0;
    .nuevoFondo{
        background-image: url(../assets/Argentina/patagonia.jpg);
    }
}

