#footer{
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1px;             
        .iconos {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                }
}
