main{
    flex: 1;
    div .pueblos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%; 
        width: 50%;
        padding: 20px; 
        padding-top: 76px;
        text-align: center;
        box-sizing: content-box;
    } div h5{
        font-family: 'Trebuchet MS';
    } div .pueblos img{
        max-height: 200px;
        max-width: 100%;
        object-fit: cover;
    } p{
        text-align: center;
        padding: 20px;
    } div .side-images{
        @extend .display;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px; 
    } div .text{
        margin: 20px;
        text-align: center;
        font-size: 1.3rem; 
    } div .side-images img{
        width: 190px;
        height: 190px;
        margin-bottom: 10px; 
    } div .elmejor{
        @extend .display;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        text-align: center;
        font-size: 1rem; 
    } h3{
        text-align: center;
    } div p{
        text-align: center;
    } div .winner{
        gap: 10px;
        margin-top: auto;
        align-items: center;
        max-width: 100%;
        width: 100%; 
        img{
            width: 100%;
        }
    }
    div .populares{
        margin-top: 76px;
    }
    .titulo{
        margin-top: 50px;
    }
    .Skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        margin-top: 40px;
    }
    .Skills h3{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .Skills img{
        width: 80px;
        height: 80px;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .container-fluid{
        padding: 20px;
    }
    .img-home{
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .seccion1, .seccion2 {
        padding: 30px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .seccion1 {
        flex: 1;
        padding: 20px;
        font-size: 1rem;
        display: inline-block;
        width: 50%;
        height: 100%;
        background-color: #f1f1f1;
    }
    .seccion2 {
        flex: 1;
        padding: 20px;
        font-size: 1rem;
        display: inline-block;
        width: 49%;
        height: 100%;
        background-color: #e6f7ff;
    }
}

//Implementando Extend
.display{
    display: flex;
}
.container{
    @extend .display;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}
.pagina2 {
    padding-top: 75px; 
}
