main{
    flex: 1;
}

//Implementando Extend
.display{
    display: flex;
}

.container{
    @extend .display;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}
.pueblos{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px; 
}
.imagen_PUEBLOS{
    @extend .display;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 76px;
}
.imagen_PUEBLOS img{
    height: 100%; 
}
.text{
    margin: 20px;
    text-align: center;
    font-size: 1.3rem; 
}
.side-images{
    @extend .display;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px; 
}
.side-images img{
    width: 190px;
    height: 190px;
    margin-bottom: 10px; 
}
.elmejor{
    @extend .display;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 1rem; 
}
.winner{
    gap: 10px;
    margin-top: auto;
    align-items: center;
    max-width: 100%;
    width: 100%; 
    img{
        width: 100%;
    }
}

.pagina2 {
    padding-top: 75px; 
}