main{
    flex: 1;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}
.pueblos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; 
}
.imagen_PUEBLOS{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 50px; 
}
.imagen_PUEBLOS img{
    height: 70%; 
}
.text{
    margin: 20px;
    text-align: center;
    font-size: 1.3rem; 
}
.side-images{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px; 
}
  .side-images img{
    width: 250px;
    height: 250px;
    margin-bottom: 10px; 
}
.elmejor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 1rem; 
}
.winner{
    gap: 10px;
    margin-top: auto;
    align-items: center;
    max-width: 100%;
    width: 100%; 
}