@media only screen and (max-width: 768px){
    .grid {
        grid-template-columns: 1fr;
    }

    .texto {
        font-size: 2rem;
        font-family: 'Marko One';
    }

    body {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .side-images {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .contenedorimg {
        grid-template-columns: repeat(2, 1fr);
    }

    .rounded-image {
        width: 100px; 
        height: 100px;
    }

    .mobile{
        flex-direction: column;
    }
             
    .float{
        transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .float:hover{
        box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        -moz-transform:translate(0px,5px);
    }
    .pagina2 div img{
        width: 100%;
        margin-bottom: 1rem;
    }      
    main div .pueblos {
        width: 100%;
        padding: 20px;
        padding-top: 56px;
    }

    main div .pueblos img {
        max-height: 150px;
    }
    .mobile{
            align-items: end;
    }
    .flex-row {
        flex-direction: column !important;
    }
    .flex-row-reverse {
        flex-direction: column !important;
    }
    .seccion1 {
        flex: 1;
        padding: 20px;
        font-size: 1rem;
        height: 100%;
        background-color: #f1f1f1;
    }
    .seccion2 {
        flex: 1;
        padding: 20px;
        font-size: 1rem;
        height: 100%;
        background-color: #e6f7ff;
    }
}

//@media screen and (orientation: landscape) and (max-width: 768px)

@media screen and (min-width: 768px) and (max-width: 1023px){
    .texto {
        font-size: 1rem;
        font-family: 'Marko One', serif;
        align-items: center;
    }
    .float{
        transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .float:hover{
        box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        -moz-transform:translate(0px,5px);
    }
}