*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
}

//Estilo avanzado de la web (CSS) - Estilo de diseño web. web responsive: 
//Incompleto. Debes hacer más uso de las media queries. 

//También fijate que el ícono del nav toggle es blanco igual que 
//el fondo entonces no se llega a distingir. 